<div id="video_list">
  <h1>Listing videos</h1>

  <table class="table table-striped">
    <tr>
      <td>Title</td>
      <td>Image Description</td>
      <td>Video URL</td>
      <td>Number of Views</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @videos.each do |video| %>

        <tr>
          <td >
            <dt><%=video.title%></dt>
          </td>

          <td>
            <dd><%= truncate(strip_tags(video.description),
                             :length => 100)%></dd>
          </td>
          <td><%=video.video_url%>
          </td>
          <td>
            <%=video.number_of_views%>
          </td>
          <td class="list_actions">
            <%= link_to 'Show', video %>
            <%= link_to 'Edit', edit_video_path(video) %>
            <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<br/>

<%= link_to 'New Video', new_video_path %>
